@import "tailwindcss";

*{
    font-family: "Nunito", sans-serif;
}


/* navbar left to right animation */
@keyframes leftToRight {
    from{
        transform: translateX(-100%);
    }to{
        transform: translateX(100%);
    }
}
#motionBar{
    animation-name: leftToRight;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-direction: reverse;
}